body {
  margin: 0;
  background-color: white; 
}
.head {
  background: linear-gradient(
    60deg,
    #080831 0%,
    #080831 100%
  );
  margin-bottom: 6em;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  transform: translateY(45px); 

}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
header{
  background-color:#080831;
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
}
header p{
  margin-top: 10px;
}
#lucas{
  color: #fff;
  font-size: 2em;
  margin-left: 2vw;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.header-botao{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-left: 2vw;
}
.hearder-info{
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-left: 2vw;
  margin-right: 2vw;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.body-fundo{
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.fa-brands{
  display: flex;
  flex-direction: row;
  color: #ffffff; 
  text-decoration: none;
  font-size: 3em;
  margin-right: 1em;
}
section{
  padding: 2rem;
  background-color: #080831;
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  min-height: 733px;
}
h1{
  font-size: 4rem;
  letter-spacing: 2px;
  color: white;
  margin-left: 10vw;
  width: 9em;
  height: 110px;
}
#titulo-sobremim{
  margin-top: 2em;
}
strong{
  color:#87CEEB;
}
.box-img{
  max-width: 450px;
  padding: 1rem;
}
.img-profile{
  width: 29em;
  height: 30em;
  border-radius: 100%;
  margin-left:20vw ;
  margin-top: 5px;
}
.btn-contato{
  padding: 2%;
  width: 6em;
  color: black;
  margin-left: 15vw;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 23px;
  margin-left: 12em;
  text-decoration: none;
}
.text-body{
    font-size: 29px;
    width: 25em;
    margin-left: 3em;
    color: white;
    margin-bottom: 2em;
}
.contatos{
  text-align: center;
  margin-top: 3em;
  margin-right:2em;
}
.titulo-body{
 color:#000000;
 font-size: 2em;
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  max-width: 1200px;
  width: 90%;
  margin-left: 17em;
}
.imagem {
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}
.texto {
  max-width: 60%;
  font-family: 'Arial', sans-serif;
  font-weight:400;
}
.texto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-left: 17em;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  flex-basis: calc(100% / 6 - 30px); 
  max-width: calc(100% / 6 - 30px);  
}
.tech-card img {
  width: 48px;
  height: 48px;
}
.tech-card p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
#titulo-tecnologias{
  margin-top: 6em;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  flex-basis: calc(33.33% - 40pxpx);
  margin-bottom: 20px;
}
.card img {
  display: block; 
  width: 50em;
  height: 20em;
  border-radius: 8px;
  margin: 0 auto; 
}
@media (max-width: 768px) {
  .card {
      flex-basis: calc(25% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
      flex-basis: 200em;
  }
}
.card-contato{
  background-color: #080831;
  height: 30em;
  width: 80em;
  margin-left: 15em;
}
.btn-email{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  background-color: #a02828;
}

